* {
    margin:0;
    padding:0;
}

div.left, 
div.right {
    display:inline;
    float: left;
    position: relative;
    height: 100%;
    overflow-y:scroll; 
}

.left {
    width: 20%;
    padding: 10px;
}

.right {
    width: 80%;
    padding: 20px;
}

.header {
    background-color:#CCC;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:40px;
}

.wrapper {
    position:absolute;
    width:100%;
    top:40px;
    bottom:40px;
}

.footer {
    background-color:#000;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    min-width:500px;
    height:40px;
}

.label.trina {
    background: #800080;
    color: #fefefe; 
}

.button.deselected {
    opacity: 0.25;
}

table, th, td {
    border: 1px solid black;
}

td.checkmark {
    text-align: center;
}



.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


